:root {
	--grey-color: #888;
	--black-color: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	/* line-height: 1.6rem; */
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

.header {
	height: 40px;
	background-color: #222;
	display: flex;
	align-items: center;
}

.header__switch {
	display: flex;
	color: var(--grey-color);
	height: 40px;
    cursor: pointer;
}

.header__switch-language {
	position: relative;
	margin-right: 16px;
    display: flex;
    align-items: center;
    height: 100%;
}

.header__switch-language::before {
	content: "";
	position: absolute;
	top: 34px;
	left: 40%;
	background-color: white;
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
	display: none;
}

.header__switch-language::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 10px;
	background: rgba(136, 136, 136, 0.2);
	position: absolute;
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
}

.header__switch-language:hover::before {
	display: block;
}

.header__switch-language:hover .header__lang-list {
	transform: scale(1);
	opacity: 1;
}

.header__lang-img {
	
}

.header__lang-text {
	font-size: 1.2rem;
	padding: 0 8px;
}

.header__lang-list {
	list-style-type: none;
	position: absolute;
	top: 100%;
	left: -12px;
	font-size: 1.2rem;
	width: 100px;
	color: var(--grey-color);
	border: 2px solid #f5f5f5;
	border-top: none;
	transform-origin: top;
	transform: scale(0);
	opacity: 0;
	transition: all ease 0.2s;
}

.header__lang-list::before {
	content: "";
	width: 100%;
	height: 20px;
	position: absolute;
	top: -12px;
	left: 0;
}

.header__lang-item {
	padding: 12px 10px;
}

.header__lang-item:hover {
	background: #f5f5f5;
}

.header__lang-item-text {
	padding-left: 8px;
}

.header__switch-currency {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.header__switch-currency::before {
	content: "";
	position: absolute;
	top: 34px;
	left: 40%;
	background-color: white;
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
	display: none;
}

.header__switch-currency:hover::before {
	display: block;
}

.header__switch-currency:hover .header__currency-list {
	transform: scale(1);
	opacity: 1;
}

.header__currency-text {
	font-size: 1.2rem;
	padding-right: 4px;
}

.header__currency-list {
	list-style-type: none;
	position: absolute;
	top: 100%;
	left: -12px;
	font-size: 1.2rem;
	width: 100px;
	color: var(--grey-color);
	border: 2px solid #f5f5f5;
	border-top: none;
	transform-origin: top;
	transform: scale(0);
	opacity: 0;
	transition: all ease 0.2s;
}

.header__currency-list::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -12px;
    left: 0;
}

.header__currency-item {
    padding: 12px 10px;
}

.header__currency-item:hover {
	background: #f5f5f5;
}

.header__currency-item-text {
	padding-left: 8px;
}